@model IEnumerable<Post>
@{
    ViewData["Title"] = "AboutUs";
}

    <div class="about-us">
        <h1 class="header-underline">Apie Mus</h1>

        <p>Elektroninis paštas:  lietuvosktd@gmail.com</p>

        <p>Adresas: Eivenių g. 2, Kaunas.</p>

        <h2>Mūsų komanda: </h2>



        <div class="row">
            <div class="column-about-us">
                <div class="card-about-us">
                    <img src="~/img/christina.jpg" alt="Jane" style="width:100%">
                    <div class="container-about-us">
                        <h2>Jane Doe</h2>
                        <p class="title-about-us">CEO &amp; Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="button-about-us">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
