@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="privacy-container">
        <div class="empty-item-1"></div>
        <div class="privacy-policy row">


            <h1 class="policy-header">Privatumo politika </h1>
            <h3>TRUMPOJI VERSIJA</h3>

            <p>Mes, Lietuvos kineziterapeutų draugija, Jūsų privatumą vertiname rimtai.</p>

            <p>
                Jūsų asmens duomenis mes tvarkome siekdami susisiekti dėl Jus galinčių dominti renginių ir
                paslaugų. Visi asmens duomenys tvarkomi laikantis aktualių duomenų apsaugos įstatymų reikalavimų.
            </p>

            <p>
                Jūsų asmens duomenis mes atskleidžiame tik toms trečiosioms šalims, kurios padeda teikti Jums paslaugas
                ir suteikia Jums nuolaidas.
            </p>

            <p>Mes vertiname savo narius ir suteikiame Jums galimybę patiems nustatyti, kaip tvarkomi Jūsų asmens duomenys.</p>

            <p>
                Jei pageidautumėte platesnės informacijos apie Jūsų asmens duomenų tvarkymą ir kam naudojame juos, apačioje galite susipažinti
                su mūsų detalia Privatumo politika.
            </p>


            <h2>Mūsų privatumo principai</h2>

            <p>Jūsų privatumą mes vertiname rimtai ir duodame Jums 5 pažadus:</p>
            <p>
                1. Mes VISADA užtikrinsime, kad Jūsų asmens duomenys būtų tvarkomi laikantis galiojančių
                duomenų apsaugos įstatymų reikalavimų.
            </p>

            <p>
                2. Mes VISADA pateiksime Jums išsamią ir skaidrią informaciją, kaip ir kokiais tikslais tvarkome Jūsų asmens duomenis.
                Tai apima Jūsų informavimą apie tai, kokius duomenis apie
                Jus renkame, ką su jais darome, su kuo jais dalijamės ir
                į ką turėtumėte kreiptis, jei Jums kiltų klausimų.
            </p>

            <p>
                3.Mes VISADA suteiksime Jums galimybę paprastai pasakyti STOP,
                jei nebenorėsite gauti mūsų rengiamų renginių pranešimų.
            </p>

            <p>
                4. Mes VISADA imsimės visų protingų priemonių, kad apsaugotume Jūsų asmens duomenis ir užtikrintume, kad jų nepasiektų
                tokios teisės neturintys asmenys.
            </p>

            <p>
                5. Mes VISADA nedelsiant atsakysime į Jūsų
                klausimus apie asmens duomenų tvarkymą.
            </p>

            <h2>Mūsų privatumo principai</h2>

            <p>Mes saugome Jūsų privatumą ir užtikriname, kad Jūsų asmens duomenys būtų apsaugoti.</p>

            <p>
                Šioje Privatumo politikoje paaiškiname, kokius asmens duomenis mes renkame, kaip juos
                tvarkome bei saugome, teikdami savo siūlomas paslaugas.
            </p>

            <p>
                Ši Privatumo politika taip pat taikoma mūsų tiksliniam turiniui, renginiams ir produktų bei paslaugų reklamą, kurią, matote mūsų
                internetiniame puslapyje ir Facebook paskyroje.
            </p>

            <h2>1.  Kas yra atsakingas už Jūsų asmens duomenų tvarkymą?</h2>

            <p>
                Mes, Lietuvos kineziterapeutų draugija“ („LKTD“ arba „mes“), esame atsakingi už Jūsų asmens
                duomenų tvarkymą mūsų Svetainėse.
            </p>

            <h2>2.Kaip galiu susisiekti su duomenų apsaugos PAREIGŪNU?</h2>

            <p>
                Jei turite klausimų, susijusių su tuo, kaip mes tvarkome Jūsų asmens duomenis, galite kreiptis į mūsų duomenų apsaugos
                pareigūną el. paštu lietuvosktd@gmail.com
            </p>

            <h2>3. Kas yra asmens duomenys?</h2>

            <p>
                Asmens duomenys yra informacija, pagal kurią galima tiesiogiai ar netiesiogiai Jus identifikuoti („asmens duomenys“). Tai paprastai apima Jūsų vardą, pavardę, adresą, el. pašto adresą,
                telefono numerį, darbo vietą, bei darbo stažą.
            </p>

            <h2>4 .Kas nutinka, kai Jūs pateikiate mums savo asmens duomenis arba mes gauname Jūsų asmens duomenis kitu būdu?</h2>

            <p>
                Mes renkame Jūsų asmens duomenis tiesiogiai keletu būdų, pvz., kai Jūs pateikiate mums savo asmeninę informaciją, registruodamiesi kaip narys mūsų Svetainėse
                ar dalyvaudami mūsų renginiuose, registruodamiesi juose, gaudami informaciją arba ar susisiekdami su mumis elektroniniu paštu.
            </p>

            <p>Kai mums pateikiate savo asmens duomenis, mes juos tvarkome šioje Privatumo politikoje apibrėžtais tikslais ir tvarka. Jei nenorite, kad taip tvarkytume Jūsų asmens duomenis, maloniai prašome jų mums nepateikti.</p>

            <p>Mes tvarkome Jūsų asmens duomenis tam, kad suteiktume Jums paslaugas, kaip paaiškinta toliau. Konkrečiais atvejais mes galime tvarkyti Jūsų asmens duomenis tik gavę Jūsų sutikimą, pvz., užpildžius nario anketą ir pažymėjus apie sutikimą naudoti Jūsų asmeninius duomenis.</p>

            <p>Jei tampate LKTD draugijos nariu, galime tai laikyti sutikimu, kad norite, jog tvarkytume Jūsų asmens duomenis reklamos viešinimo tikslais. Šių rinkodaros ryšių Jūs galite, bet kada atsisakyti ir tai neturės įtakos Jūsų dalyvavimui lojalumo programoje bei jos teikiamai naudai.</p>

            <p>Tvarkydami Jūsų asmens duomenis su Jūsų sutikimu, mes paprašysime Jūsų sutikimo konkrečiam duomenų tvarkymo tikslui. Mes taip pat prašysime Jūsų sutikimo, jeigu mums reikėtų Jūsų asmens duomenų kitiems, šioje Privatumo politikoje nenurodytiems tikslams.</p>

            <h2>5. Kokiais tikslais mes tvarkome Jūsų asmens duomenis?</h2>

            <p>Pirkimas / sutikimas su paslauga</p>

            <p><b>Kokius asmens duomenis mes galime rinkti?</b></p>

            <p>Vardas, pavardė, pašto adresas, el. pašto adresas, namų telefono numeris, mobiliojo telefono numeris, Koks yra šių duomenų tvarkymo tikslas?</p>

            <p>Mes apdorojame asmens duomenis, kad pateiktume Jūsų užsakytus paslaugas.</p>

            <p>Galimai Jus dominančių produktų ir paslaugų siūlymas</p>

            <p><b>Kokius asmens duomenis mes galime rinkti?</b></p>

            <p>Vardas, pavardė, pašto adresas, el. pašto adresas, mobiliojo telefono numeris, dalyvautų renginių istorija.</p>

            <p><b>Koks yra šių duomenų tvarkymo tikslas?</b></p>

            <p>Kad pasiūlytume Jums pritaikytus renginius ar paslaugas (įskaitant iš susijusių trečiųjų šalių), kurie Jus galėtų dominti. Mes tai galime daryti siųsdami Jums informaciją el. paštu.</p>

            <h2>6. Dalijimasis informacija apie Jūsų naudojimąsi Svetaine</h2>

            <p>Jums sutikus, mes dalysimės daline asmenine informacija (Vardas, pavardė) su patikimomis trečiosiomis šalimis t. y. įmonėmis, kurios gali suteikti Jums papildomas akcijas ir nuolaidas jų organizuojamuose renginiuose.</p>

            <h2>7.  Kiek laiko tvarkome Jūsų asmeninius duomenis?</h2>

            <p>Jūsų asmens duomenis tvarkome tik tol, kol  būsite mūsų LKTD draugijos nariu, pasibaigus Jūsų narystės laikui reklaminiai skelbimai bus siunčiami tik su Jūsų sutikimu.</p>

            <h2>8. Kokios yra Jūsų teisės?</h2>

            <p>Jei tenkinami atitinkami reikalavimai, Jūs turite šias teises:</p>

            <div class="list">
                <ol>
                    <li>Gauti iš mūsų patvirtinimą, kad mes tvarkome Jūsų asmens duomenis arba ne, ir, jeigu taip, gauti prieigą prie savo asmens duomenų ir su jais susipažinti;</li>
                    <li>Reikalauti iš mūsų ištaisyti netikslius Jūsų asmens duomenis;</li>
                    <li>Reikalauti iš mūsų panaikinti Jūsų asmens duomenis („teisė būti pamirštam“);</li>
                    <li>Nesutikti su Jūsų asmens duomenų tvarkymu;</li>
                    <li>Reikalauti iš mūsų apriboti Jūsų asmens duomenų tvarkymą ir</li>
                    <li>Kreiptis į mus dėl Jūsų asmens duomenų perkeliamumo– gauti mūsų turimus Jūsų asmens duomenis struktūruota, įprastai naudojama bei automatiškai nuskaitoma forma ir persiųsti juos kitam duomenų valdytojui.</li>
                </ol>

            </div>
        

            <h2>9.Ar galite atšaukti savo sutikimą mums tvarkyti Jūsų asmens duomenis?</h2>

            <p>Tais atvejais, kai Jūsų sutikimas sudaro teisinį pagrindą mums tvarkyti Jūsų asmens duomenis, savo sutikimą galite atšaukti tokiais būdais:</p>

            <div class="list">
                <ul>
                    <li>siųskite mums el. laišką <a href="#">lietuvosktd@gmail.com</a></li>
                </ul>
            </div>
          

            <p>Atminkite, kad Jūsų sutikimo atšaukimas neturi įtakos Jūsų asmens duomenų tvarkymo teisėtumui prieš atšaukimą.</p>

            <h2>10. Ar galite skųstis duomenų apsaugos institucijoms?</h2>

            <p>Jeigu manote, kad tvarkydami Jūsų asmens duomenis pažeidžiame duomenų apsaugos įstatymus, galite pateikti skundą kompetentingai prižiūrinčiai institucijai Lietuvos Respublikoje ar kitoje valstybėje, kurioje gyvenate, dirbate arba kurioje buvo pažeistas Bendrasis duomenų apsaugos reglamentas.</p>

            <h2>11.Kaip mes užtikriname Jūsų asmens duomenų saugumą?</h2>

            <p>Mes naudojame tinkamas technines ir organizacines priemones, leidžiančias apsaugoti Jūsų pateiktus asmens duomenis nuo atsitiktinio ar neteisėto sunaikinimo, praradimo, pakeitimo, neteisėto atskleidimo ar neteisėtos prieigos prie Jūsų asmens duomenų.</p>

            <p><b>Ar galime pakeisti Privatumo politiką?</b></p>

            <p>Esant poreikiui, mes galime keisti šią Privatumo politiką, čia paskelbdami atnaujintą Privatumo politikos versiją. Maloniai prašome Jus dažnai aplankykiti šią skiltį ir susipažinti su aktualia Privatumo politikos redakcija.</p>




        </div>
        <div class="empty-item-3"></div>
    </div>