@model PostViewModel
@{
    ViewData["Title"] = "Parašyti Naujieną";
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <div>
        <h1 class="mt-4">Parašyti Naujieną</h1>

        <form asp-action="CreateArticle" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Post.Id" />

            <div class="form-group">
                <label asp-for="Post.Title">Title:</label>
                <input type="text" class="form-control" asp-for="Post.Title" />
            </div>

            <div class="form-group">
                <label>Images:</label>
                <input type="file" asp-for="Files" />
            </div>

            <div class="form-group">
                <label asp-for="Post.Body">Turinys:</label>
                <input type="text" class="form-control" asp-for="Post.Body" />
            </div>

            <div class="form-group d-inline">
                <label asp-for="Post.isForAuthenticatedUser">Turinys Registruotiems Vartotojams?</label>
                <input type="checkbox" asp-for="Post.isForAuthenticatedUser" />
            </div>

            <div>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</div>


