@model PostViewModel
@{
    ViewData["Title"] = "Sukurti Renginį";
    Layout = "_AdminLayout";
}

<div id="layoutSidenav_content">
    <div style="margin:10px">
        <h1 class="mt-4">Sukurti Renginį</h1>

        <form asp-action="CreateEvent" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Post.Id" />
            <input type="hidden" asp-for="Post.PostTypeId" />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Post.Title">Pavadinimas:</label>
                <input type="text" class="form-control" asp-for="Post.Title" />
            </div>

            <div class="form-group">
                <label asp-for="Post.Date">Renginio Data:</label>
                <input type="text" class="form-control" asp-for="Post.Date" />
            </div>

            <div class="form-group">
                <label>Nuotraukos:</label>
                <input type="file" asp-for="Files" />
            </div>

            <div class="form-group">
                <label asp-for="Post.Body">Aprašymas:</label>
                <input type="text" class="form-control" asp-for="Post.Body" />
            </div>

            <div>
                <button type="submit" class="btn btn-success">Sukurti</button>
            </div>
        </form>
    </div>
</div>


