@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div style="margin-top:60px;">
    <h4 style="text-align:center;">Keisti Paskyros Nustatymus</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <partial name="_ManageNav" />
        </div>
        <br />
        <div style="margin:0,15px,0,15px;display:flex;
                flex-direction:row; justify-content:center">
            <div style="flex:1"></div>
            <div style="flex:1; flex-direction:row; justify-content:center; margin-top:15px;">
                @RenderBody()
            </div>
            <div style="flex:1"></div>

        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
