@inject SignInManager<PhysicalTherapyProject.Domain.Models.ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills" style="display:flex; flex-direction:row; justify-content:center">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) btn btn-ghost" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) btn btn-ghost" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) btn btn-ghost" id="change-password" asp-page="./ChangePassword">Password</a></li>
</ul>

<style>

    li {
        margin-right: 15px;
    }

</style>
