@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="lt">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cms-styles.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="~/css/main-style.css">
    <link rel="stylesheet" type="text/css" href="~/css/AboutUs.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="site-content">



    <header>
        <nav class="sticky">
            <div class="row">
                <ion-icon name="body-outline" class="icon-logo-big"></ion-icon>

                <ul class="main-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-action="Index" asp-controller="Article">Naujienos</a></li>
                        <li><a href="#">Renginiai</a></li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    <div class="render-body">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="row">


            <ul class="footer-nav">
                <li><a asp-controller="Home" asp-action="Privacy">Privatumo Politika</a></li>
                <li><a href="#">Bendradarbiavimas</a></li>
                <li><a href="#">Įsakymai Ir Įstatymai</a></li>
                <li>

                </li>
            </ul>

        </div>
        <div class="row">
            <div class="contact">
                <p>Kontaktai:</p>
                <p>El.Paštas: lietuvosktd@gmail.com</p>
                <p>Adresas : Eivenių g. 2, Kaunas.</p>
                <p>
                    Mus galite rasti facebook:
                    <a href="https://www.facebook.com/Lietuvosktd/" target="_blank">
                        <ion-icon name="logo-facebook" class="facebook-icon"></ion-icon>
                    </a>
                </p>
            </div>
        </div>



        <div class="row">
            <p>
                Copyright &copy; 2020, Lietuvos kineziterapeutų draugija
            </p>
        </div>
    </footer>

    <script src="~/vendors/js/jquery.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/vendors/js/jquery.waypoints.min.js"></script>
    <script src="~/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

