@model Post
@{
    ViewData["Title"] = "Article";
}

<h1>@Model.Title</h1>
<p>@Model.CreatedOn</p>


@foreach (var image in Model.Images)
{
    <img src="@Url.Action("Render", "Image", new { id = image.Id })" style="width:200px;" />

}






<p>@Model.Body</p>

