
@{
    ViewData["Title"] = "Patvirtinti paštą";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row-cms justify-content-center">
                    <div class="col-lg-12">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Patvirtinti Paštą</h3></div>
                            <div class="card-body text-center">
                                <h5>Jūsų paštas nėra patvirtintas. Mes jums išsiuntėme patvirtinimo nuorodą į paštą!</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

